/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Zilla+Slab:wght@400;500;600&display=swap');

$font-family-sans-serif: "Inter", sans-serif;
$font-family-serif: "Inter", serif;

/*-- scss:rules --*/

.navbar-brand img {
  height: 60px !important;
  width: auto !important;
}

.navbar-nav {
  flex-direction: row !important;
  align-items: center !important;
  display: flex !important;
  gap: 20px;
}

.nav-link {
  text-transform: capitalize !important;
  font-size: 0.9rem !important;
}

#quarto-content {
  font-family: 'Inter', sans-serif !important;
  font-size: 1rem;
  line-height: 1.6;
}

p {
  text-align: justify;
}

.quarto-title-block .quarto-title .title {
  font-size: 2rem !important;
  text-transform: none !important;
}