> /*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wg-ht@0,14..32,100..900;1,14..32,100..900&family=Zilla+Slab:wght@400;500;600&display=swap';


.zilla-slab-regular {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.zilla-slab-medium {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
}

.zilla-slab-semibold {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: normal;
}

/*.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/


#quarto-content {
  font-family: 'Inter', sans-serif !important;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: Regular 400;
  line-height: 19px;
  color: #000000;
}